# This file currently is for development
# it will get updated once the chat api works good enougth
services:
  postgres:
    image: postgres:latest
    hostname: postgres
    restart: on-failure
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./logs/postgres:/var/log/postgresql
    networks:
      - internalnet
  valkey:
    image: valkey/valkey:latest
    hostname: valkey
    restart: on-failure
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data
      - ./logs/valkey:/data/logs # Mounting logs to host
    networks:
      - internalnet
  chat-server:
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internalnet
    volumes:
      - ./logs/chat-server:/code/logs
  nginx:
    image: nginx:latest
    hostname: console-chat
    restart: on-failure
    depends_on:
      - chat-server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - ./logs/nginx:/var/log/nginx # Mounting logs to host
    networks:
      - internalnet
      - externalnet
volumes:
  postgres_data:
    driver: local
  valkey_data:
    driver: local
networks:
  internalnet:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24 # Adjust per your network
  externalnet:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "0.0.0.0" # Allows access from all interfaces
