name: CI - Python
on:
  pull_request:
    paths:
      - 'backend/**'
  push:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always
# ensure that the workflow is only triggered once per PR, subsequent pushes to the PR will cancel
# and restart the workflow. See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  python-lint:
    name: Python Lint and Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install linters
        run: |
          python -m pip install --upgrade pip
          pip install black pylint pyright
          pip install -r ./backend/requirements-frozen.txt
      - name: Run Black check
        run: black --check ./backend/app
      - name: Run Pyright strict
        run: pyright -p pyrightconfig.json ./backend/app
  python-test:
    environment: CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    name: python test ${{ matrix.os }}
    env:
      DEV_API_KEY: ${{ secrets.DEV_API_KEY }}
      SECRET: ${{ secrets.SECRET }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install Dep
        run: |
          python -m pip install --upgrade pip
          pip install -r ./backend/requirements-frozen.txt
      - name: Run tests
        run: pytest backend/
